<mat-toolbar class="main-toolbar">
  <div class="brand-wrapper">
    <img src="assets/cafe-icon.png" class="brand-icon" alt="Logo Café">
    <span class="brand">Café Express</span>
  </div>

  <span class="spacer"></span>

  <nav class="nav-links">
    <!-- Siempre -->
    <a mat-button routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
      Menú
    </a>

    <!-- Solo usuario normal -->
    <ng-container *ngIf="auth.isLoggedIn() && !auth.isAdmin()">
      <a mat-button routerLink="/my-orders" routerLinkActive="active-link">Mis pedidos</a>

      <button mat-icon-button routerLink="/cart" 
              [matBadge]="cart.count()" 
              matBadgeColor="accent" 
              matBadgeOverlap="false" 
              aria-label="Carrito">
        <mat-icon>shopping_cart</mat-icon>
      </button>
    </ng-container>

    <!-- Solo admin -->
    <ng-container *ngIf="auth.isAdmin()">
      <a mat-button routerLink="/admin/products" routerLinkActive="active-link">Productos</a>
      <a mat-button routerLink="/admin/orders" routerLinkActive="active-link">Pedidos</a>
    </ng-container>

    <!-- Login / Logout -->
    <button mat-stroked-button color="accent" routerLink="/login" *ngIf="!auth.isLoggedIn()">Login</button>
    <button mat-stroked-button class="logout-btn" (click)="logout()" *ngIf="auth.isLoggedIn()">Salir</button>
  </nav>
</mat-toolbar>

<div class="container">
  <router-outlet></router-outlet>
</div>
